.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: var(--babyBlue);
}

.cardSection {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: center;
}
