.wrapper {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-color: var(--navyBlue);
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.wrapper::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.04;
  background-image: url("../public/assets/kenya-flag-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  pointer-events: none;
}

.introText {
  color: var(--aliceBlue);
  font-size: 80px;
  text-align: center;
  padding: 130px 30px 0;
  font-family: "Righteous", cursive;
}

.button {
  background: var(--aliceBlue);
  padding: 10px 25px;
  margin: 20px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  border: none;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display: inline-flex;
  align-items: center;
  transition: all 500ms;

  background-repeat: no-repeat;
  border: 2px solid var(--aliceBlue);
}

.homeButtonBig {
  font-size: 25px;
  font-weight: 600;
  text-transform: lowercase;
  letter-spacing: 0.1px;
  transition: all 500ms;
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 50%,
    black 50%,
    black 100%
  );
  background-position: 0 0;
  background-size: 1000px 180px;
}

.homeButtonBig:hover {
  color: var(--aliceBlue);
  background-position: 0 -90px;
}

.button:hover {
  cursor: pointer;
}

.homeButtonNormal {
  background-image: linear-gradient(
    to top,
    transparent 0%,
    transparent 50%,
    var(--chelseaBlue) 50%,
    var(--chelseaBlue) 100%
  );
  background-position: 0 top;
  background-size: 1000px 0px;
}

.homeButtonSignUp {
  background-image: linear-gradient(
    to top,
    transparent 0%,
    transparent 50%,
    var(--orange) 50%,
    var(--orange) 100%
  );
  background-position: 0 top;
  background-size: 1000px 0px;
}

.homeButtonNormal:hover,
.homeButtonSignUp:hover {
  color: var(--aliceBlue);
  background-position: 0 top;
  background-size: 1000px 180px;
}
