.layer {
  position: absolute;
  width: 0;
  height: 100%;
  top: 100%;
  left: 0;
  bottom: auto;
  right: auto;
  background: var(--chelseaBlue);
  transition: width 0s, top 0.7s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
  margin: 0;
}

.layerOne {
  background: var(--orange);
  transition-delay: 0.42s;
}
.layerTwo {
  background: var(--navyBlue);
  transition-delay: 0.7s;
}
